li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    background-image: url(../image/imagenFondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;;
}
